html, body{
			background:
		linear-gradient(63deg, #2CAEAE 23%, transparent 23%) 7px 0,
		linear-gradient(63deg, transparent 74%, #2CAEAE 78%),
		linear-gradient(63deg, transparent 34%, #2CAEAE 38%, #2CAEAE 58%, transparent 62%),
		#00A1A1;
		background-size: 16px 48px;
		color:white;
}
.background h3 {
	font-family: 'Skranji', cursive;
	font-size:28px;
	margin-bottom:2px;
	margin-top:50px;
}

.pure-g{
	min-height:60vh;
}

.formDesc{
	width:61.8%;
	font-size:120%;
}

.formInfoText{
	display:block;
	margin-top:50px;
}

form p {
	margin: 0;
	font-family: 'Skranji', cursive;
}

.formDiv{
	margin-top:150px;
	text-align:center;
}

.cont{
	width:100%;
	font-size:120%;
}

h1 {
	color:  #FAB731;
	font-size: 40px;
}

.redButton {
	margin-top: 10px;
	background: #FAB731;
	color: white;
	font-family: 'Skranji', cursive;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .3), 0 2px 3px 0 rgba(0, 0, 0, .12);
	/*BUG*/
	position: relative;
	left: -1.5px;
}

input[type = checkbox]{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

input[type = "text"],
input[type = "password"]{
	color:black;
}
