body, html{
	background:
		linear-gradient(63deg, #211d19 23%, transparent 23%) 7px 0,
		linear-gradient(63deg, transparent 74%, #211d19 78%),
		linear-gradient(63deg, transparent 34%, #211d19 38%, #211d19 58%, transparent 62%),
		#826347;
	background-size: 16px 48px;
	color:white;
}

.background{
	background:
		linear-gradient(63deg, #771427 23%, transparent 23%) 7px 0,
		linear-gradient(63deg, transparent 74%, #771427 78%),
		linear-gradient(63deg, transparent 34%, #771427 38%, #771427 58%, transparent 62%),
		#9E354A;
	background-size: 16px 48px;
	color:white;
}

.columnContainer{
	display:flex;
}

.dishName{
	font-family:'Skranji', cursive;
	color:#E13617;
	align-self:stretch;
	margin: 2% 0;
	padding:0% 10%;
}

.menuColumn{
	display:flex;
	flex-flow:column;
	flex-grow:1;
	width:50vw;
}

.menuContainer{
	display:flex;
	flex-direction:column;
}

.menuDesc{
	padding-left:15%;
	align-self:flex-start;
	text-align:left;
}

.menuName{
	float:left;
}

.menuPrice{
	float:right;
}

#menuMainContent{
	position:relative;
	display:flex;
	flex-direction:column;
}