html, body{
			background:
				linear-gradient(63deg, #782C9F 23%, transparent 23%) 7px 0,
				linear-gradient(63deg, transparent 74%, #782C9F 78%),
				linear-gradient(63deg, transparent 34%, #782C9F 38%, #782C9F 58%, transparent 62%),
				#8C47AF;
		background-size: 16px 48px;
		}


.submitButton{
	cursor: pointer;
	border: none;
	font-size: 24px;
	font-family: 'Skranji', cursive;
	background:#27ba3d;
	display:inline-block;
	color:white;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .3), 0 2px 3px 0 rgba(0, 0, 0, .12);
	padding:15px;
	border-radius:2px;
	margin-top:2%;
	width:20%;
}

.submitButton:hover{
	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

#customPackageStart{
	display:inline-flex;
	box-shadow:10px 0px 10px 0px rgba(0,0,0,0.26);
	flex-flow:column nowrap;
}

.partyArrowLeft{
	width: 0;
	height: 0;
	border-top: 2.45vw solid transparent;
	border-bottom: 2.45vw solid transparent;
	border-right:2.45vw solid white;
	opacity:0.85;
}
.partyArrowRight{
	width: 0;
	height: 0;
	border-top: 2.45vw solid transparent;
	border-bottom: 2.45vw solid transparent;
	border-left:2.45vw solid white;
	opacity:0.85;
}

.partyBoxSmall{
	height:20vw;
	width:20vw;
	background:rgba(255,255,255,.5);
	display:inline-block;
	text-align:center;
	overflow:hidden;
	border-radius:50%;
	box-shadow: 0 10px 8px 0 rgba(0,0,0,.21);
    border: 15px solid white;
}

.dateContainer{
	display:flex;
	justify-content:center;
}

.dateContainer input[type = text]{
	width:20%;
	border-radius:4px;
	color:black;
	border: 1px solid #ccc;
	font-size:24px;
	text-align:center;
	font-family:'Skranji', cursive;
	padding:15px;
	box-shadow: inset 0 1px 3px #ddd;
	background:white;
}

.partyBoxContainer{
	display:flex;
	justify-content:center;
}

.partyBoxTiny{
	height:14.82vw;
	width:14.82vw;
	margin:5vmin;
	background:black;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	border-radius:50%;
	box-shadow: 0 10px 8px 0 rgba(0,0,0,.21);
    border: 11px solid white;
	font-size:2vh;
}

.partyBoxTinyGoodies{
	height:14.82vw;
	width:14.82vw;
	margin:2.75vmin;
	background:black;
	display:inline-block;
	text-align:center;
	overflow:hidden;
	border-radius:50%;
	box-shadow: 0 10px 8px 0 rgba(0,0,0,.21);
    border: 11px solid white;
	font-size:2vh;
}

.partyBoxTinyGoodies h2{
	position:relative;
	top:-8.41vw;
	margin:0px;
	background:rgba(0,0,0,0.75);
	font-size:1.5vw;
}

.token p{
	width:19vw;
	font-size:1.5vw;
}

.actBlackBar{
	background:rgba(0,0,0,.75);
	width:19vw;
}

.partyBoxTinyGoodies img{
	height:100%;
	width:100%;
	opacity:.15;
}

.partyBoxTiny img{
	height:100%;
	width:100%;
	opacity:.15;
}

img.selected{
	opacity:1;
}

.partyBoxTiny h2{
	position:relative;
	top:-8.41vw;
	margin:0px;
	background:rgba(0,0,0,0.75);
	font-size:1.5vw;
}

h2.selected{
	background:rgba(39, 186, 61,.75);
}

.partyBoxThin{
	height:calc(20vw + 30px);
	display:inline-flex;
	flex-flow: column nowrap;
	justify-content:center;
	opacity:0.5;
	margin-left:2vmin;
	margin-right:2vmin;
}

.partyContainer{
	height:100%;
	width:100%;
	text-align:center;
}

#partyPackage{
	background:
		linear-gradient(45deg, #FF7E14 45px, transparent 45px)64px 64px,
		linear-gradient(45deg, #FF7E14 45px, transparent 45px,transparent 91px, #F16D00 91px, #F16D00 135px, transparent 135px),
		linear-gradient(-45deg, #FF7E14 23px, transparent 23px, transparent 68px,#FF7E14 68px,#FF7E14 113px,transparent 113px,transparent 158px,#FF7E14 158px);
	background-color:#F16D00;
	background-size: 128px 128px;
	padding-bottom:2%;
	right:0px;
	top:0;
	width:100%;
	z-index:0;
	margin:0px;
	text-align:center;
	box-shadow: inset 12px 0px 23px -6px rgba(0,0,0,0.44);
}

.partySelectionsBack{
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
}

.partySelectionsBack p{
	margin:0;
}

.partySelectionsBack i{
	font-size:150%;
	cursor:pointer;
}

.partyPackageColorBlue{
	background:#efd139;
	color:white;
}

#partyPackageDisplay{
	margin-top:2.5vh;
	padding:2% 0;
	width:100%;
	display:flex;
	flex-flow: row wrap;
	align-items:stretch;
	justify-content:space-around;
	font-size:3vmin;
}

.partyPackageFlexRow{
	display:flex;
	justify-content:center;
	position:relative;
	flex-flow:row nowrap;
}

#partyPackageGoodiesDesc{
	flex-grow:3;
	margin-left:.25vw;
	background: #27ba3d;
}

#partyPackageFood{
	flex-grow:1;
}

#partyPackageLunch{
	margin-right:.25vw;
	max-width:12vw;
	flex-basis:12vw;
	width:12vw;
}

#partyPackageCake{
	margin-left:.25vw;
	display:flex;
	justify-content:center;
	flex-flow:column nowrap;
}

#partyPackageCakePic{
	flex-grow:5;
	margin-bottom:.25vw;
}

#partyPackageCakeInsc{
	margin-top:.25vw;
	flex-flow:row wrap;
	font-size:1.5vmin;
	background:#E25339;
	/*background:#E25339*/
}

#partyPackageActivities{
}

.partyPackageActItem{
	margin:0 .25vw;
}

.partyPackageActRow{
	margin:.25vw 0;
	align-items:stretch;
}

#partyPackageInfo{
	justify-content:flex-start;
}

.partyPackageInfoItem{
	margin-right: .25vw;
	width:25%;
}

#date{
	margin-right:0;
	margin-left:.25vw;
	width:75%;
}

#date input[type=text]{
	width:80%;
	text-align:center;
}

#partyContentContainer{
	position:relative;
	display:flex;
}

.partyRow{
	display:flex;
	flex-flow:row wrap;
	font-size:3vh;
	color:white;
	position:relative;
	flex-grow:1;
	box-shadow: inset 0px -21px 50px -10px rgba(18,18,18,0.35);
}

.partyPackageImage{
	padding:0px;
	background:none;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
}

#partyPackageThemeName{
	flex-grow:3;
	margin-right:.25vw;
	background:#2694e2;
}

#partyPackageThemePic{
	margin-left:.25vw;
	min-width:3vw;
}

#partyPackageGoodiesTicket{
	margin-right:.25vw;
	background: #27ba3d;
}

#partySidebar{
	display:flex;
	background:#dedede;
	font-size:16px;
	bottom:0px;
	z-index:0;
	padding:0px;
	right:0px;
}

#activitiesRow{
	
}

#activityContainer{
	padding:5vmin;
	padding-top:0px;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}

#foodRow{
	
	background-color: #E25339;
	background-size: 58px 58px;
	background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
		0px 36px, 4px 2px, 29px 6px, 33px 30px;
	background-image:
		linear-gradient(335deg, #E13617 23px, transparent 23px),
		linear-gradient(155deg, #E13617 23px, transparent 23px),
		linear-gradient(335deg, #E13617 23px, transparent 23px),
		linear-gradient(155deg, #E13617 23px, transparent 23px),

		linear-gradient(335deg, #E13617 10px, transparent 10px),
		linear-gradient(155deg, #E13617 10px, transparent 10px),
		linear-gradient(335deg, #E13617 10px, transparent 10px),
		linear-gradient(155deg, #E13617 10px, transparent 10px);
}

.foodContainer{
	flex-grow:1;
	flex-basis:50%;
	position:relative;
	/*background:#E25339*/
	box-shadow: inset 0px -21px 50px -10px rgba(18,18,18,0.35);
}

#lunchContainer{

}

#goodiesRow{
	background:#27ba3d;
	background:
		linear-gradient(135deg, #27ba3d 22px, #018017 22px, #018017 24px, transparent 24px, transparent 67px, #018017 67px, #018017 69px, transparent 69px),
		linear-gradient(225deg, #27ba3d 22px, #018017 22px, #018017 24px, transparent 24px, transparent 67px, #018017 67px, #018017 69px, transparent 69px)0 64px;
	background-color:#27ba3d;
	background-size: 64px 128px;
	padding-bottom:2%;
}

.actCircleTiny{
	border-radius:50%;
	height: 2.5vw;
	width:2.5vw;
	border: .25vw solid white;
	box-shadow:0 10px 8px 0 rgba(0,0,0,.21);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

#moreAct{
	background:#8C47AF ;
	font-size:1vw;
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	right:0;
	bottom:0;
}

.tooltipContent{
	transition:0.6s;
}

#moreAct .tooltipContent{
	width:0;
	height:0;
	top:1.25vw;
	right:1.25vw;
	background:#8C47AF;
	border:.25vw solid white;
}

.innerTooltipContent{
}

#moreAct .tooltipContent .innerTooltipContent{
	opacity:0;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:center;
	height:100%;
	width:100%;
}

#moreAct:hover .tooltipContent .innerTooltipContent{
	opacity:1;
}

#moreAct:hover .tooltipContent{
	visibility:visible;
	top:3vw;
	width:12vw;
	height:8vw;
	right:0;
	box-shadow:0 10px 8px 0 rgba(0,0,0,.21);
}

.tooltipContent .actCircleTiny{
	margin:.25vw 0;
	height:31.25%;
	width:20.83%;
}

#sliderContainer{
	 width:75%;
	 display:inline-flex;
	 flex-flow:column nowrap;
	 justify-content:center;
}
#sliderContainer:first-child{
	 margin-bottom:2vh;
}
#sliderContainer:last-child{
	 padding-bottom:5vmin;
}

.circularSlide{
	height:19vw;
	width:19vw;
}

.token{
	height:19vw;
	width:19vw;
}

#themeRow{
	background:#2694e2;
	background:
		linear-gradient(45deg, #0e9dc9 45px, transparent 45px)64px 64px,
		linear-gradient(45deg, #0e9dc9 45px, transparent 45px,transparent 91px, #19b5e5 91px, #19b5e5 135px, transparent 135px),
		linear-gradient(-45deg, #0e9dc9 23px, transparent 23px, transparent 68px,#0e9dc9 68px,#0e9dc9 113px,transparent 113px,transparent 158px,#0e9dc9 158px);
	background-color:#19b5e5;
	background-size: 128px 128px;
}
